@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
.upload-container {
    /* background-color: rgba(0,0,0,0.7); */
    background-color: rgba(0, 0, 0, 0.7);
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    left: -500px;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

.upload-container > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: normal;
}

.upload-container > h3 {
    margin: 0;
    color: white;
}

.upload-container > .button-container {
    text-align: center;
    padding: 10px;
}

.upload-container > .button-container > button {
    padding: 4px;
    width: 50%;
    font-family: "Rajdhani", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.upload-container > .button-container > button {
    cursor: pointer;
}

.upload-container > p > a:link {
    color: rgb(0, 245, 224);
}

.upload-container > p > a:visited {
    color: rgb(0, 245, 224);
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

input[type="file"] {
    display: none;
}

.file-upload {
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Rajdhani", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.file-uploaded {
    font-family: "Rajdhani", sans-serif;
    color: white;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

