
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');


.nav-bar-container {
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  widows: 100%;
  margin: 0;
  height:5vh;
  border:0;
  z-index: 1;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
    padding:4px;
  font-size: 2em;
  color: white;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 10px;
}

.log-out{
  font-size: 15px;
  position : absolute;
  right : 0;
  padding-right:30px;
  letter-spacing: 5px;
}

.upload{
  font-size: 15px;
  position : absolute;
  left : 0;
  padding-left:30px;
  letter-spacing: 5px;

}